<h1>Chat room</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="messages">
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Eviscerate', message, method: :delete, data: { confirm: 'You are sure.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
