%h1 WebSockets Chat
%table{class: ".messages_container"}
  %thead
    %tr
      %th Name
      %th Content
      %th
  %tbody#messages
    - @messages.each do |message|
      %tr
        %td= message.name
        %td= message.content
        %td= link_to 'Eviscerate', message, method: :delete, data: { confirm: 'You are sure.' }
.new_message
  %h3 New message
  = render 'form'
  