// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, html, body, input, button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  width: 750px;
  margin: 0 auto;
}
#header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}
.page-title {
  -webkit-flex: 1 100%;
  flex: 1 100%;
}
.user-message {
  width: 250px;
}
.flash {
  flex: 1;
  -webkit-flex: 1;
  p {
    margin: 0;
  }
}
#container {
  width: 100%;
}
#new_message_form {
  width: 250px;
  float: left;
}
#messages_container {
  float: left;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
  text-align: left;
}
tbody tr:nth-child(odd) {
  background-color: #ccc;
}
th, td {
  padding: 0.5em;
}
.column.name {
  width: 100px;
}
.column.content {
  width: 291px;
}
.column.eviscerate {
  width: 70px;
}